node_modules/
.expo/
npm-debug.*
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
app/components/ModalPage.js
app/components/NewBottomTab.js
app/navigation/T_Drawer.js
app/screens/TuyaElectro.js
app/utils/json_generator.json
# macOS
.DS_Store
*.log
.env
app/screens/Settings_backup.js
android/
*/assets/old/
credentials.json
deprecated/
package-lock.json
.vscode/
.secrets*